
.navbar-color{
    background-color: #DBE8D4;
}

.main-text{
    font-family: 'Yeseva One', serif;
    font-weight: bold;
    font-size: 32px;
    color: #314D1C;
}

.main-text-padding{
    padding: 20px;
}

.reg-text{
    font-family: 'Montserrat', serif;
    font-size: 22px;
    color: black;
}

.reg-text.padding {
    padding: 40px;
}

.button{
    background-color: #314D1C;
    border-radius: 10px;
    padding: 10px;
}

.button-text{
    font-family: 'Montserrat', serif;
    font-size: 17px;
    color: white;
}

.flavor-button{
    background-color: #DCE9D5;
    border-radius: 10px;
    padding: 10px;

    font-size: 17px;
    font-family: 'Montserrat', serif;
    color: #314D1C;
}

.flavor-button:hover{
    color: white;
    background-color: #314D1C;
}

#ingredient-title{
    margin-top: 30px;
    color:#284e13;
    font-family: 'Yeseva One', serif;
    margin-bottom: 50px;
}
#ingredient-subtext{
    font-weight: 100;
    font-family: 'Yeseva One', serif;
    font-size: 25px;
    margin-bottom: 20px;
}

#ingredients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredient-item {
    display: inline-block; /* Aligns items side by side */
    width: 120px; /* Fixed width for all items */
    vertical-align: top; /* Aligns items at the top */
    margin: 0 10px; /* Margin between items */
    position: relative; /* Positioning context for the text */
}

.ingredient-image-container {
    height: 100px; /* Fixed height to contain images */
    display: flex; /* Use flex to center the image vertically and horizontally */
    position: relative;
   
}

.ingredient-image {
    width: 100%; /* This will make the image fill the container */
    height: auto; /* This will maintain the aspect ratio */
    object-fit: contain; /* This will prevent images from being stretched */
    margin-bottom: 8px;
    max-height: 100px; /* This will constrain the height of taller images */
}

.ingredient-name {
    font-size: 0.9em;
    margin-top: 0.5em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 16px; /* Adds space below the name for consistent alignment */
}

.hover-text {
    font-size: 1em; /* Adjust the size as needed */
    margin-top: 20px; /* Space above the text */
    margin-bottom: 5px; /* Space below the text before the button */
    color: #365923; /* Text color - change as needed */
    text-align: center;
}

.btn-custom {
    background-color: #DCE9D5;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Montserrat', serif;
    color: #314D1C;
    text-align: center;
}

.btn-custom:hover {
    color: white;
    background-color: #314D1C;
}

#move-to-ingred-quiz {
    display: inline-block; /* This makes the button an inline-level block container */
}

.ingredient-tooltip {
    display: none; /* Initially hide the tooltip */
    position: absolute; /* Position relative to the ingredient-item */
    bottom: 100%; /* Place it above the image container */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Align the center of the tooltip with the center of the image */
    background-color: #314D1C; /* Match the button color for consistency */
    color: white; /* Text color for the tooltip */
    padding: 8px 12px; /* Some padding around the text */
    border-radius: 6px; /* Rounded corners for the tooltip */
    text-align: center; /* Center the text inside the tooltip */
    font-size: 0.8em; /* A smaller font size for the tooltip */
    z-index: 10; /* Ensure it sits above other content */
    white-space: nowrap; /* Prevent text from wrapping */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* A subtle shadow for some depth */
}

/* Show the tooltip on hover */
.ingredient-item:hover .ingredient-tooltip {
    display: block; /* Show the tooltip */
}

.drag-measurement {
    background-color: #DCE9D5;
    margin: 7px;
    padding: 10px;
}

.drop-ingredient {
    background-color: #DCE9D5;
    margin: 7px;
    padding: 10px;
}

.ing-quiz-results {
    margin: 20px;
    text-align: center;
    font-size: 28px;
}

button:disabled {
    background-color: #cccccc; /* Gray background to indicate it's disabled */
    color: #666666; /* Darker text color for better contrast */
    cursor: not-allowed; /* Cursor indicates that the button is not clickable */
    border: 1px solid #999999; /* Optional: change the border color */
}

/* Remove bullet points and list styles */
.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

/* Style sortable list items */
.sortable li {
    margin: 0 3px 3px 3px;
    padding: 10px; /* Adjust padding as needed */
    font-size: 1.4em;
    height: auto; /* Allow the height to adjust based on content */
    position: relative; /* Position relative for absolute positioning of icon */
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /* Center items vertically */
}

/* Style draggable icon */
.sortable li::before {
    content: "\2630"; /* Unicode for draggable icon (☰) */
    margin-right: 10px; /* Adjust spacing between icon and text */
}

/* Change background color of sortable items */
.sortable .ui-state-default {
    background-color: #DCE9D5; /* Change to desired color */
}

.simulation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 40%;
    border: 2px dashed #ccc;
    padding: 20px;
    min-height: 300px; /* Adjust height as needed */
}

.draggable-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin: 5px;
    cursor: pointer;
}


  