
.navbar-color{
    background-color: #DBE8D4;
}

.main-text{
    font-family: 'Yeseva One', serif;
    font-weight: bold;
    font-size: 32px;
    color: #284e13;
}

.main-text-padding{
    padding: 20px;
}

.reg-text{
    font-family: 'Montserrat', serif;
    font-size: 22px;
    color: black;
}

.reg-text.padding {
    padding: 40px;
}

.button{
    background-color: #284e13;
    border-radius: 10px;
    padding: 10px;
}

.button-text{
    font-family: 'Montserrat', serif;
    font-size: 17px;
    color: white;
}

.flavor-button{
    background-color: #DCE9D5;
    border-radius: 10px;
    padding: 10px;

    font-size: 17px;
    font-family: 'Montserrat', serif;
    color: #284e13;
}

.flavor-button:hover{
    color: white;
    background-color: #284e13;
}

#ingredient-title{
    margin-top: 30px;
    color:#284e13;
    font-family: 'Yeseva One', serif;
    margin-bottom: 50px;
}
#ingredient-subtext{
    font-weight: 100;
    font-family: 'Yeseva One', serif;
    font-size: 25px;
    margin-bottom: 20px;
}

#ingredients-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredient-item {
    display: inline-block; /* Aligns items side by side */
    width: 120px; /* Fixed width for all items */
    vertical-align: top; /* Aligns items at the top */
    margin: 0 10px; /* Margin between items */
    position: relative; /* Positioning context for the text */
}

.ingredient-image-container {
    height: 100px; /* Fixed height to contain images */
    display: flex; /* Use flex to center the image vertically and horizontally */
    position: relative;
   
}

.ingredient-image {
    width: 100%; /* This will make the image fill the container */
    height: auto; /* This will maintain the aspect ratio */
    object-fit: contain; /* This will prevent images from being stretched */
    margin-bottom: 8px;
    max-height: 100px; /* This will constrain the height of taller images */
}

.ingredient-name {
    font-size: 0.9em;
    margin-top: 0.5em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 16px; /* Adds space below the name for consistent alignment */
}

.hover-text {
    font-size: 1em; /* Adjust the size as needed */
    margin-top: 20px; /* Space above the text */
    margin-bottom: 5px; /* Space below the text before the button */
    color: #284e13; /* Text color - change as needed */
    text-align: center;
}

.btn-custom {
    background-color: #DCE9D5;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Montserrat', serif;
    color: #284e13;
    text-align: center;
    border: 1px solid #284e13;
}

.btn-custom:not(:disabled):hover {
    color: white;
    background-color: #284e13;
}

#move-to-ingred-quiz {
    display: inline-block; /* This makes the button an inline-level block container */
}

.ingredient-tooltip {
    display: none; /* Initially hide the tooltip */
    position: absolute; /* Position relative to the ingredient-item */
    bottom: 100%; /* Place it above the image container */
    left: 50%; /* Center it horizontally */
    transform: translateX(-50%); /* Align the center of the tooltip with the center of the image */
    background-color: #284e13; /* Match the button color for consistency */
    color: white; /* Text color for the tooltip */
    padding: 8px 12px; /* Some padding around the text */
    border-radius: 6px; /* Rounded corners for the tooltip */
    text-align: center; /* Center the text inside the tooltip */
    font-size: 0.8em; /* A smaller font size for the tooltip */
    z-index: 10; /* Ensure it sits above other content */
    white-space: nowrap; /* Prevent text from wrapping */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* A subtle shadow for some depth */
}

/* Show the tooltip on hover */
.ingredient-item:hover .ingredient-tooltip {
    display: block; /* Show the tooltip */
}

.drag-measurement {
    background-color: #DCE9D5;
    font-family: 'Montserrat', serif;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    color: #284e13;
    font-size: 18px;
}

.drag-measurement:hover {
    background-color: #284e13; 
    color: white; 
  }

.drop-ingredient {
    background-color: #DCE9D5;
    font-family: 'Montserrat', serif;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    padding: 15px;
    color: #284e13;
    font-size: 18px;
}

.ing-quiz-footer {
    display: flex;
    justify-content: center; /* This aligns the child elements (button) horizontally center */
}

button:disabled {
    background-color: #cccccc; /* Gray background to indicate it's disabled */
    color: #666666; /* Darker text color for better contrast */
    cursor: not-allowed; /* Cursor indicates that the button is not clickable */
    border: 1px solid #999999; /* Optional: change the border color */
}

/* Remove bullet points and list styles */
.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

/* Style sortable list items */
.sortable li {
    margin: 0 3px 3px 3px;
    padding: 10px; /* Adjust padding as needed */
    font-size: 1.4em;
    height: auto; /* Allow the height to adjust based on content */
    position: relative; /* Position relative for absolute positioning of icon */
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /* Center items vertically */
}

/* Style draggable icon */
.sortable li::before {
    content: "\2630"; /* Unicode for draggable icon (☰) */
    margin-right: 10px; /* Adjust spacing between icon and text */
}

/* Change background color of sortable items */
.sortable .ui-state-default {
    background-color: #DCE9D5; /* Change to desired color */
}

.simulation-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 40%;
    border: 2px dashed #ccc;
    padding: 20px;
    min-height: 300px; /* Adjust height as needed */
}

.draggable-image {
    width: 100px; /* Adjust size as needed */
    height: auto;
    margin: 5px;
    cursor: pointer;
}


.step-item {
    display: none; /* Hide all steps by default */
}

.step-item.active {
    display: block; /* Only display the active step */
}


.recipe-header {
    padding: 20px;
    font-family: 'Yeseva One', serif;
    font-weight: bold;
    font-size: 32px;
    color: #314D1C;
}

.step-title {
    font-family: 'Montserrat', serif;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

.sub-step-item {
    margin-bottom: 15px;
}

.sub-step-description {
    font-family: 'Montserrat', serif;
    font-size: 20px;
    color: black;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    max-width: 95%;
}

.sub-step-num {
    font-size: 22px;
    color: #314D1C;
    font-family: 'Yeseva One', serif;
    margin-right: 7px;
    display: inline-block;
    vertical-align: top;
}


.fixed-bottom {
    position: fixed; /* Fix to the bottom */
    bottom: 20px;      /* Position it at the bottom of the page */
    left: 0;        /* Stretch across the page */
    width: 100%;    /* Ensure it spans the width of the viewport */
    background: #FFF; /* Set a background color if needed */
}

.step-video-container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
}

.step-video {
    width: 300px;
    height: 300px;
    background-color: grey;
<<<<<<< HEAD
}

#quiz-container {
    width: 80%;
    margin: 0 auto;
}

.choice-image {
    width: 150px;
    height: 150px;
    margin: 10px;
    cursor: pointer;
}

.selected {
    border: 5px solid #374C23;
}

.step-container {
    padding: 20px;
}

#next-step-btn {
    border: 1px solid #284e13;
    padding: 8px 18px;
    margin-left: 5px
}

#prev-step-btn {
    padding: 8px 18px;
    border: 1px solid #284e13;
    margin-right: 5px;
}

.flavor-profile-button-container {
    margin-top: 150px;
}

#lesson-title {
    padding: 20px;
    font-family: 'Yeseva One', serif;
    font-weight: bold;
    font-size: 40px;
    color: #314D1C;
}

#lesson-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lesson-description-text {
    margin-top: 50px;
    margin-left: 19px;
    width: 90%;
}

.move-to-ingredients-btn {
    font-weight: bold;
    padding: 12px 22px;

}

.lesson-btn-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.ing-quiz-btn-container {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
}

#reset-ing-quiz-btn {
    margin-bottom: 15px;
}


.ing-quiz-question {
    margin-left: 17px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.ing-quiz-results {
    margin-top: 30px;
    font-family: 'Montserrat', serif;
    font-size: 36px;
    text-align: center;
}

.step-container {
    padding: 20px;
}

#next-step-btn {
    border: 1px solid #284e13;
    padding: 8px 18px;
    margin-left: 5px
}

#prev-step-btn {
    padding: 8px 18px;
    border: 1px solid #284e13;
    margin-right: 5px;
}

.flavor-profile-button-container {
    margin-top: 150px;
}

#lesson-title {
    padding: 20px;
    font-family: 'Yeseva One', serif;
    font-weight: bold;
    font-size: 40px;
    color: #314D1C;
}

#lesson-image {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.lesson-description-text {
    margin-top: 50px;
    margin-left: 19px;
    width: 90%;
}

.move-to-ingredients-btn {
    font-weight: bold;
    padding: 12px 22px;

}

.lesson-btn-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
=======
}
>>>>>>> parent of a7e11c6 (Revert "Merge remote-tracking branch 'origin/main'")
