{% extends "layout.html" %} {% block content %}
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'home.js') }}"
></script>

<script>
  let lessons = {{lessons|tojson}}
</script>
    <body>
    <div class="container col-12">
        <div class="col-12">
            <div class="main-text main-text-padding">
                Welcome to Make a Martini!
            </div>
        </div>
        <div class="col-12">
            <div class="reg-text padding">
                Embark on a journey to master the classic martini, from the storied Classic to the intriguing Dry and Dirty.
                Our interactive course blends essential knowledge with a hands-on quiz, inviting you to learn, mix, and shake your way
                to mixology expertise.
            </div>

            <div class="reg-text padding">
                Dive in, discover the secrets of the perfect martini, and elevate your cocktail game. Your mixology adventure starts now!
            </div>
        </div>
        <div class="col-12">
            <button class="button button-text" id="start-button"> Learn how to make a martini </button>
        </div>
    </div>


    </body>

{% endblock %}
