{% extends "layout.html" %}
{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'ingredients.js') }}"></script>
<script>
    let recipe_id = {{recipe_id|tojson}};
</script>

<div class="container ">
    <h1 id="ingredient-title">How to Make a Lemon Drop Martini</h1>
    <p id="ingredient-subtext">You will need:</p>
    <div id="ingredients-list" class="d-flex justify-content-center align-items-start flex-wrap">
      <!-- Ingredient items will be dynamically populated here -->
  </div>
    <i><p class="hover-text">Hover over each item for more information</p></i>
    <div class="d-flex justify-content-center">
    <button class="btn btn-custom mt-4" id="move-to-ingred-quiz">Move to Quiz</button>
  </div>
</div>

{% endblock %}
