{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'recipe.js') }}"
></script>

<script>
  let recipe_id = {{recipe_id|tojson}}
</script>

<div class="container">
  <div class="recipe-container">
    <div class="row recipe-header"></div>
    <div class="row justify-content-center">
      <div class="col-md-8 recipe-steps"></div>
    </div>
  </div>

  <div class="fixed-bottom bg-white">
    <div class="container">
      <div class="row toggle-steps-container justify-content-center">
        <button id="prev-step-btn" class="btn-custom">Previous Step</button>
        <button id="next-step-btn" class="btn-custom">Next Step</button>
      </div>
    </div>
  </div>
  <div class="go-recipe-quiz-container"></div>
</div>
{% endblock %}
