{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'recipe_alone.js') }}"
></script>

<script>
  let recipe_id = {{recipe_id|tojson}}
</script>

<div class="container">
  <div class="recipe-alone-title section-title"></div>
  <div class="row recipe-alone-images"></div>
  <div class="row recipe-description reg-text"></div>
  <div class="row recipe-details">
    <div class="col-md-6 recipe-serving">Serves 1</div>
    <div class="col-md-6 recipe-prep-time"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 recipe-alone-container">
      <div class="row">
        <div class="col-md-6 recipe-alone-ingredients"></div>
        <div class="col-md-6 recipe-alone-steps"></div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

{% endblock %}
