{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'recipe_alone.js') }}"
></script>

<script>
  let recipe_id = {{recipe_id|tojson}}
</script>

<div class="container">
  <div class="recipe-alone-title section-title"></div>
  <div class="row recipe-alone-images"></div>
  <div class="row recipe-details">
    <div class="serving"></div>
    <div class="prep-time"></div>
  </div>
  <div class="row recipe-alone-container">
    <div class="col-md-6 recipe-alone-ingredients"></div>
    <div class="col-md-6 recipe-alone-steps"></div>
  </div>
  <div class="enjoy">Enjoy!</div>
</div>

{% endblock %}
