{% extends "layout.html" %} {% block content %}

<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'start_lesson.js') }}"
></script>

<script>
  let recipe_id = {{recipe_id|tojson}}
</script>

<body>
  <div class="container">
    <div class="main-text-padding section-title"></div>
    <div class="row lesson-details-container">
      <div class="col-md-8 lesson-description reg-text">
        <div class="row lesson-description-text"></div>
        <div class="row lesson-btn-container">
          <button class="btn-custom move-to-ingredients-btn">
            Move to Ingredients
          </button>
        </div>
      </div>
      <div class="col-md-4 lesson-start-img-container">
        <img src="" alt="Lesson Image" id="lesson-image" />
      </div>
      <br />
    </div>
  </div>
</body>

{% endblock %}
